
@{
    ViewBag.Title = "Index";
}

<script>
    $(function () {
        thisAppPage.init();
    });

    var thisAppPage = {
        init: function () {
            this.initEvents();
            this.initController();
        },
        initEvents: function () {
            $(document).on("click", "#autoLogin", function () {
                thisAppPage.switchSelected();
            });
        },
        initController: function () {

        },
        switchSelected:function() {
            var hasChk = $('#autoLogin').is(':checked');
            if (hasChk) {
                $('#autoLogin').val(true);
                /*已选中*/
            } else {
                $('#autoLogin').val(false);
                /*未选中*/
            }
        }
    }
</script>

<style>
    body {
        padding: 50px;
        background-color: #ECECEC;
    }

    .leftDiv {
        border-right: 1px dashed #DC8181 !important;
    }

    .topDiv {
        margin-top: 13%;
    }
</style>

@using System.Web.Mvc
@using System.Web.Mvc.Html
@model Learn.Core.Domain.Employee

<div class="row topDiv">
    <div class="col-md-6  leftDiv">
        <div class="col-md-offset-8">

            @using (@Html.BeginForm("Login", "Login", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.TextBoxFor(c => c.EmpLoginName, new { @class = "promptInfo", @id = "userName", @title = "请输入用户名", @placeholder = "请输入用户名", @required = true })
                </div>

                <div class="form-group">
                    @Html.TextBoxFor(c => c.EmpLoginPwd, new { @class = "promptInfo", @title = "请输入密码", @placeholder = "请输入密码", @required = true })
                </div>

                <button type="submit" class="btn btn-danger">立即登陆</button>  <input type="checkbox" id="autoLogin" name="AutoLogin" value="false" />  <label>自动登陆</label> <label>@ViewBag.Message</label>
            }


        </div>
    </div>
    <div class="col-md-6">
        <div>
            <div>
                <label>没有帐号？</label>
            </div>
            <div>
                <a href="#">
                    <button type="button" class="btn btn-primary" data-
                            toggle="modal" data-target=".bs-example-modal-sm">
                        立即注册
                    </button>
                </a>
            </div>

        </div>
    </div>
</div>




