
@{
    ViewBag.Title = "Index";
}

<script>
    $(function () {
        thisAppPage.init();
    });

    var thisAppPage = {
        urls: {
            action_Login: "@Url.Action("Login", "Login")",
            action_Index: "@Url.Action("Index", "Manage")",
        },
        init: function () {
            this.initEvents();
            this.initController();
        },
        initEvents: function () {
            $(document).on("click", "#autoLogin", function () {
                thisAppPage.switchSelected();
            });
            $("#submitBtn").click(function() {
                thisAppPage.submitData();
            });
        },
        initController: function () {
            thisAppPage.submitData();
        },
        submitData: function () {
            var empLoginName = $("#EmpLoginName").val();
            var empLoginPwd = $("#EmpLoginPwd").val();
            var autoLogin = $("#autoLogin").val();
            $.post(thisAppPage.urls.action_Login, { empLoginName: empLoginName, empLoginPwd: empLoginPwd, autoLogin: autoLogin }, function (data) {
                if (data=="ok") {
                    window.location.href = thisAppPage.urls.action_Index;
                }
            });
        },
        switchSelected:function() {
            var hasChk = $('#autoLogin').is(':checked');
            if (hasChk) {
                $('#autoLogin').val(true);
                /*已选中*/
            } else {
                $('#autoLogin').val(false);
                /*未选中*/
            }
        }
    }
</script>

<style>
    body {
        padding: 50px;
        background-color: #ECECEC;
    }

    .leftDiv {
        border-right: 1px dashed #DC8181 !important;
    }

    .topDiv {
        margin-top: 13%;
    }
</style>

@using System.Web.Mvc
@using System.Web.Mvc.Html

<div class="row topDiv">
    <div class="col-md-6  leftDiv">
        <div class="col-md-offset-8">

          
                <div class="form-group">
                    <input type="text" class="promptInfo" id="EmpLoginName" name="EmpLoginName"  required="true" placeholder="请输入用户名" />
                  </div>

                <div class="form-group">
                    <input type="text" class="promptInfo" id="EmpLoginPwd"name="EmpLoginPwd" required="true" placeholder="请输入密码"/>
                </div>

                <button type="button"  id="submitBtn"class="btn btn-danger">立即登陆</button>  <input type="checkbox" id="autoLogin" name="autoLogin"  value="false" />  <label>自动登陆</label> <label>@ViewBag.Message</label>


        </div>
    </div>
    <div class="col-md-6">
        <div>
            <div>
                <label>没有帐号？</label>
            </div>
            <div>
                <a href="#">
                    <button type="button" class="btn btn-primary" data-
                            toggle="modal" data-target=".bs-example-modal-sm">
                        立即注册
                    </button>
                </a>
            </div>

        </div>
    </div>
</div>




